@model IEnumerable<Homework.Users.Dto.UserShortDto>

<h2>Поиск</h2>

<form asp-action="search" asp-controller="users" method="get">
    <div class="input-group mb-3">
        <input type="text" name="input" class="form-control" placeholder="Введите часть имени и фамилии через пробел" aria-label="Введите часть имени и фамилии через пробел" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <input type="submit" value="Искать" class="btn btn-outline-primary" />
        </div>
    </div>
</form>

<div class="validation" asp-validation-summary="ModelOnly"></div>

@if (!Model.Any() && (bool)ViewData["hasInput"])
{
    <div>Поиск не дал результатов</div>
}

<div class="list-group">
    @foreach (var user in Model)
    {
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><a href="~/users/@user.Login">@user.Login</a></h5>
            </div>
            <p class="mb-1">@user.Name @user.Surname</p>
            <small>@user.City</small>
        </div>
    }
</div>