.chat_container {
    height: 80vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 10fr 1fr;
}
.contact_list {
    grid-row: 1/4;
    overflow: scroll;
    overflow-x: hidden;
    background-color: azure;
}
.current_contact {
    font-size: x-large;
}

.message_container {
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://img.wallpapersafari.com/desktop/728/410/1/80/8DYndB.png");
    overflow: auto;
    grid-gap: 3px;
    padding: 0 3px 0 3px;
}
.message {
    background-color: white;
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    justify-self: start;
    word-break: break-word;
    max-width: 90%;
    text-align: left;
}
.message.my_message{
    background-color: antiquewhite;
    justify-self: end;
    text-align: right;
}

.input_container {
    background-color: white;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}
.input_container #send_text {
    flex-basis: 80%;
}
.input_container .input-group-append {
    flex-basis: 20%;
}
.input_container .input-group-append input {
    width: 100%;
}